@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?9d871ec8ccbc1c9d96f77c94893fb9d8") format("truetype"),
url("./flaticon.woff?9d871ec8ccbc1c9d96f77c94893fb9d8") format("woff"),
url("./flaticon.woff2?9d871ec8ccbc1c9d96f77c94893fb9d8") format("woff2"),
url("./flaticon.eot?9d871ec8ccbc1c9d96f77c94893fb9d8#iefix") format("embedded-opentype"),
url("./flaticon.svg?9d871ec8ccbc1c9d96f77c94893fb9d8#flaticon") format("svg");
}


i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-unlock:before {
    content: "\f101";
}
.flaticon-image:before {
    content: "\f102";
}
.flaticon-video:before {
    content: "\f103";
}
